{% assign trans = site.data.values[site.lan] %}
<div class="footer">
    <p>Copyright &copy;{{ site.time | date: '%Y' }} {{ site.name }}. All rights reserved.
    {{ trans.thanks }}
    {% for thank in site.data.thanks %}
        <!-- not the last, output a ',' -->
        {% if forloop.last == false %}
            <a href="{{ thank.url }}">{{ thank.title }}</a>, 
        {% else %}
            <a href="{{ thank.url }}">{{ thank.title }}</a>.
        {% endif %}
    {% endfor %}

    </p>
</div>

</body>
</html>
