---
layout: default
---
{% assign trans = site.data.values[site.lan] %}
<div class="well article">
    <h2><a href="{{ site.baseurl}}{{ page.url }}">{{ page.title }}</a></h2>
    <span class="post-date">
        {% assign date_format = site.date_format.title %}
        {{ page.date | date: date_format }}
    </span>
    &nbsp;
    <span class="wordcount-style">
        字数：{{ page.content | strip_html | strip_newlines | size }}
    </span>
    &nbsp;

    {% unless page.pov == null %}
    <span class="wordcount-style">
        视角：{{ page.pov }}
        {%- if page.pov == "第一人称" and page.characters.size > 0 -%}
            {%- for character in page.characters -%}
                {% unless character == "白起" %}
                    （{{ character }}）
                    {% break %}
                {% endunless %}
            {%- endfor -%}
        {%- endif -%}
    </span>
    &nbsp;
    {% endunless %}

    {% unless page.origin == null %}
    <span class="origin-style">
        首发位置：{{ page.origin }}
    </span>
    &nbsp;
    {% endunless %}

    <!-- Count reader number -->
    <span class="origin-style">
        <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
        <span id="busuanzi_container_page_pv" style="display: none">
            本文阅读量：<span id="busuanzi_value_page_pv"></span>次
        </span>
    </span>

    <!-- Begin post content -->
    <hr style="border-top:1px solid #28323C;"/>
    <div style="text-indent: 2em">
        {{ page.content }}
    </div>
    <hr style="border-top:1px solid #28323C;"/>

    <div class="post-content">
    <!-- categories under post -->
    {% unless page.categories == null %}
    <ul class="list-unstyled list-inline">
      <li class="icon-img-style"><i class="icon-folder-open"></i></li>
      {% assign categories_list = page.categories %}
      {% if categories_list.first[0] == null %}
        {% for category in categories_list %} 
            <li class="icon-style">
                <a href="{{ site.baseurl }}/categories.html#{{ category }}">{{ category }} ({{ site.categories[category].size }})</a>{% unless forloop.last %},{% endunless %}
            </li>
        {% endfor %}
      {% else %}
        {% for category in categories_list %} 
            <li class="icon-style">
                <a href="{{ site.baseurl }}/categories.html#{{ category }}">{{ category[0] }} ({{ category[1].size }})</a>{% unless forloop.last %},{% endunless %}
            </li>
        {% endfor %}
      {% endif %}
    </ul>
    {% endunless %}

    <!-- tags under post -->
    {% unless page.tags == null %}
    <ul class="list-unstyled list-inline">
      <li class="icon-img-style"><i class="icon-tags"></i></li>
      {% assign tags_list = page.tags %}
      {% if tags_list.first[0] == null %}
        {% for tag in tags_list %} 
            <li class="icon-style">
                <a href="{{ site.baseurl }}/tags.html#{{ tag }}">{{ tag }} ({{ site.tags[tag].size }})</a>{% unless forloop.last %},{% endunless %}
            </li>
        {% endfor %}
      {% else %}
        {% for tag in tags_list %} 
            <li class="icon-style">
                <a href="{{ site.baseurl }}/tags.html#{{ tag }}">{{ tag[0] }} ({{ tag[1].size }})</a>{% unless forloop.last %},{% endunless %}
            </li>
        {% endfor %}
      {% endif %}
      {% assign tags_list = nil %}
    </ul>
    {% endunless %}

    <!-- characters after post -->
    {% unless page.characters == null %}
    <ul class="list-unstyled list-inline">
      <li class="icon-img-style"><i class="icon-user"></i></li>
      {% assign characters_list = page.characters %}
      {% if characters_list.first[0] == null %}
        {% for character in characters_list %}
            {% assign charcter_count = 0 %}
            {% for node in site.posts %}
                {% for node_character in node.characters %}
                    {% if node_character == character %}
                        {% assign character_count = character_count | plus: 1 %}
                        {% break %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <li class="icon-style">
                <a href="{{ site.baseurl }}/characters.html#{{ character }}">{{ character }} ({{ character_count }})</a>{% unless forloop.last %},{% endunless %}
            </li>
            {% assign character_count = 0 %}
        {% endfor %}
      {% else %}
        {% for character in characters_list %}
            <li class="icon-style">
                <a href="{{ site.baseurl }}/characters.html">{{ character[0] }} ({{ character[1].size }})</a>{% unless forloop.last %},{% endunless %}
            </li>
        {% endfor %}
      {% endif %}
      {% assign characters_list = nil %}
    </ul>
    {% endunless %}

    </div>

</div>

<div class="pagination" style="width: 100%">
    <div class="col-md-6" style="text-align: left">
    {% if page.previous %}
    <a class="btn btn-default" href="{{ site.baseurl}}{{ page.previous.url }}" class="previous">{{ trans.newer_post }}</a> {{ page.previous.title }}
    {% endif %}
    </div>

    <div class="col-md-6" style="text-align: right">
    {% if page.next %}
    <a class="btn btn-default" href="{{ site.baseurl}}{{ page.next.url }}" class="next">{{ trans.older_post }}</a> {{ page.next.title }}
    {% endif %}
    </div>
</div>